:root {
  --background-color: white;
  --text-color: #191A1C;
  --link-text-color: rgb(71, 71, 71);
  --name-color: rgb(53, 53, 53);
  --title-color: rgb(102, 63, 63);
  --project-title-color: #0b61c4;
  --imgFilter: 85%;
  --imgFilter2: 0%;
  --slide-Dark-color: gray;
  --slide-Light-color: whitesmoke;
  --line-color: #d3d1d1;
  --status-color: rgb(80, 80, 80);
  --title-bck-grd-color: #fafafa;
  --popup-box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.dark-mode {
  --background-color: #191A1C;
  --text-color: whitesmoke;
  --link-text-color: rgb(211, 210, 210);
  --name-color: darkgray;
  --title-color: rgb(215, 215, 215);
  --project-title-color: #3f90ec;
  --imgFilter: 0%;
  --imgFilter2: 85%;
  --slide-Dark-color: whitesmoke;
  --slide-Light-color: gray;
  --line-color: #414040;
  --status-color: rgb(180, 180, 180);
  --title-bck-grd-color: #222325;
  --popup-box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

#github-logo, #mail-icon {
  filter: invert(var(--imgFilter));
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Inter', sans-serif;
  position: relative; 
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 32em;
  width: 90%;
  background: var(--background-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--popup-box-shadow);
  transition: 0.3s transform;
  transform: translate(-50%, -50%) scale(0.1);
  display: none;
}

.popup.show {
  transform: translate(-50%, -50%) scale(1);
  display: block;
}

.popup-content {
  max-height: 80vh;
  overflow: auto;
  margin-left: 1em;
}

.popup-content p {
 font-weight: bold;
}

.popup-content span {
  margin-left: 1em;
  color: #808080;
}

.popup-content h3 {
  height: 2em;
}

.separate {
  width: 30em;
  height: 1.5em;
  border-top: 1px solid #808080;
  margin-top: 3em;
}

.line {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
}

.formations {
  padding-right: 1em;
  text-align: end;
}

.details {
  margin-top: 0.3em;
  margin-bottom: 1.2em;
  font-size: small;
  padding-right: 2.5em;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.close-button img {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(var(--imgFilter2));
}

button {
  cursor: pointer;
  width: 2.4em;
  height: 2.4em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: #202529; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

#toggle-mode {
  margin-right: 32px;
}

nav a {
  padding-left: 32px;
}

a {
  color:  var(--link-text-color);
  text-decoration: none;
}

nav span {
  color: whitesmoke;
  padding-left: 32px;
  font-size: 1.6em;
}

.slide-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 32px;
  font-size: small;
}

#dark {
  color: var(--slide-Dark-color);
}

#light {
  color: var(--slide-Light-color);
}

.photoProfil {
  margin-top: -50px;
  height: 296px;
  width: 296px;
  border-radius: 50%;
  border: 1px black;
  overflow: hidden;
}

#photo {
  margin-left: -50px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.name {
  color: var(--name-color);
  font-size: 1.3em;
  border-bottom: 1px solid var(--line-color);
}

.contact {
  border-top: 1px solid var(--line-color);
  font-size: 0.85em;
}

.mail {
  margin-top: 8px;
}

.welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 896px;
  gap: 15px;
}

.welcomeBan {
  width: 896px;
  height: 176px;
  overflow: hidden;
}

.emptyTopLineBottom {
  height: 8vh;
  border-bottom: 1px solid var(--line-color);
}

.links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  display: flex;
  height: 32px;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
}

.project {
 margin-top: 15px;
}

.description {
  margin-left: 20px;
  border-left: 1px solid var(--line-color);
}

.title {
  display: flex;
  align-items: center;
  width: 30em;
  height: 2.5em;
  color: var(--title-color);
  border: 1px solid var(--line-color);
  border-radius: 10px;
  background-color: var(--title-bck-grd-color);
}

.descriptionLink {
  margin-left: -12px;
  display: flex;
  height: 16px;
  align-items: center;
  gap: 1em;
  font-size: 1.2em;
}

.projectTitle {
  color: var(--project-title-color);
}

.languages {
  height: 14px;
  font-size: 0.75em;
  font-style: italic;
  color: var(--name-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#POOMVC {
  font-size: 0.7em;
}

.round {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin-top: 4px;
  margin-left: 12px;
  margin-right: 4px;
}

.CSS {
  background-color: #563D7C;
}

.HTML {
  background-color: #D44826;
}

.JS {
  background-color: #E9D958;
}

.RUBY {
  background-color: #701516;
}

.REACT {
  background-color: #aa894c;
}

.ANGULAR {
  background-color: #bb0003;
}

.TYPESCRIPT {
  background-color: #3863da;
}

.ONLINE {
  background-color: rgb(3, 192, 3);
}

.circle {
  height: 16px;
  width: 16px;
  border-radius: 9px;
  border: 1px solid var(--line-color);
  background-color: var(--background-color);
  margin-left: 2px;
}

#preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 380px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
  color: var(--status-color);
}

#preview-text {
  font-style: italic;
  font-size: small;
}

#preview-img {
  border-radius: 15px;
}

.status {
  display: flex;
  flex-direction: row;
  width: 896px;
  margin-top: 10px;
  color: var(--status-color);
}

.popup-content h3 {
  color: rgb(0, 70, 0);
}

.popup-content a {
  color: rgb(0, 155, 0);
}

.popup-content i {
  color: rgb(70, 140, 70);
}

/* .web3 {
  color: var(--project-title-color);
  font-size: 0.7em;
} */