/**************  MEDIA QUERIES - WIDTH > 300px  **************/

@media (min-width: 301px) {
	:root {
		--change-30vh-to-95vw: 30vh;
		--header-f-size: 4vh;
		--multi-f-size: 3.1vh;
		--button-f-size: 7vh;
		--top-and-bottom-text-f-size : 4vh;
		--topText-marg-top: -3vh;
		--topText-h: 10vh;
		--bottomText-marg-top: -2.5vh;
		--bottomText-h: 8vh;
		--choices-w: 30vh;
		--choices-h: auto;
		--choices-marg-top: 2.5vh;
		--scores-f-size: 2.5vh;
		--scores-marg-top: 2vh;
	}
}

/**************  MEDIA QUERIES - WIDTH < 300px  **************/

@media (max-width: 300px) {
	:root {
		--change-30vh-to-95vw: 95vw;
		--header-f-size: 14vw;
		--multi-f-size: 10vw;
		--button-f-size: 24vw;
		--top-and-bottom-text-f-size : 13vw;
		--topText-marg-top: -5vw;
		--topText-h: 30vw;
		--bottomText-marg-top: -7.5vw;
		--bottomText-h: 24vw;
		--choices-w: 97vw;
		--choices-h: 35vw;
		--choices-marg-top: 7vw;
		--scores-f-size: 8vw;
		--scores-marg-top: 12vw;
	}
}

/**********************  MEDIA QUERIES  **********************/

@font-face 
{
  font-family: Riffic;
  src: url(assets/font/RifficFree-Bold.ttf);
}

@font-face {
	font-family: Astrolab;
	src: url(assets/font/Astrolab.ttf);
}

@font-face {
	font-family: Cube;
	src: url(assets/font/G7_Cube_5.ttf);
}

/**********************  BODY  **********************/

body {
	display: flex;
	justify-content: center;
}

/**********************  CONTENT  **********************/

.content {
	width: var(--change-30vh-to-95vw);
	height: 98vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Riffic;
}

/*********************  GAME TITLE  *********************/

header {
	background-color: antiquewhite;
	text-align: center;
	text-shadow: 0.5rem 0.5rem 0.3rem grey;
	margin-top: 10%;
	border: 0.15rem solid;
	border-top-color : white;
	border-left-color: white;
	border-bottom-color: grey;
	border-right-color: grey;
	border-radius: 3vh;
	margin-bottom: 1vh;
	width: var(--change-30vh-to-95vw);
	font-size: var(--header-f-size);
}

/*********************  SECTION  ************************/

section {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap; 
	align-content: center;
	justify-content: center;
  text-align: center;
	width: var(--change-30vh-to-95vw);
	height: var(--change-30vh-to-95vw);
}

/*********************  ALL BUTTONS  **********************/

button {
	font-family: Riffic;
	font-size: var(--button-f-size);
}

/*******************  CHOICES BUTTONS  ********************/

.choices {
	display: flex;
	flex-direction: column;
	width: var(--choices-w);
	height: var(--choices-h);
	margin-top: var(--choices-marg-top);
}

#newGame, #computerMode, #playersMode {
	height: 5.2vh;
	background-color: antiquewhite;
	text-shadow: 0.15rem 0.15rem 0.3rem grey;
	border-color: white;
	white-space: nowrap;
	width: var(--change-30vh-to-95vw);
	font-size: var(--multi-f-size);
}

#newGame {
	border-radius: 3vh 3vh 0.15rem 0.15rem;
}

#playersMode {
	border-radius: 0.15rem 0.15rem 3vh 3vh;
}

/**********************  CASES  ***********************/

.case {  
	width: 33%;
	height: 33%;
	border: 0.15rem solid black;
	border-radius: 0.5rem;
} 

/**********************  OTHER  ***********************/

.Scores {
	text-align: center;
	font-family: Cube;
	font-weight: bold;
	font-size: var(--scores-f-size);
	margin-top: var(--scores-marg-top);
}

.topText {
	font-size: 4vh;
	margin-top: -3vh;
	height: 10vh;
	border-bottom: 0.1vh solid transparent;
}

.bottomText {
	font-size: 4vh;
	margin-top: -2.5vh;
	height: 8vh;
	border-bottom: 0.1vh solid transparent;
}

.copyright {
	text-align: center;
	font-family: Astrolab;
	font-size: 0.4em;
	color: rgb(20, 20, 20);
}